@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-text: #ffffff;
  --font-primary: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000000;
    --color-text: #000000;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-primary);
}
